#textBody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #B388FF;
}

#backgroundBody {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 25%, rgba(169,148,233,1) 72%);
    
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background: #120e07;
    color: #B388FF;
}

.fa:hover {
    opacity: 0.7;
}
